<?php

namespace Someline\Repositories\Interfaces;

use Someline\Component\Wechat\Repositories\Interfaces\SomelineWechatRepositoryBase;

/**
 * Interface SomelineWechatRepository
 * @package namespace Someline\Repositories\Interfaces;
 */
interface SomelineWechatRepository extends SomelineWechatRepositoryBase
{
    //
}
