<?php

namespace Someline\Api\Controllers;

use Someline\Component\Wechat\Api\Controllers\SomelineWechatsControllerBase;

class SomelineWechatsController extends SomelineWechatsControllerBase
{
    //
}
