<?php

namespace Someline\Repositories\Eloquent;

use Someline\Component\Wechat\Repositories\Eloquent\SomelineWechatRepositoryEloquentBase;

/**
 * Class SomelineWechatRepositoryEloquent
 * @package namespace Someline\Repositories\Eloquent;
 */
class SomelineWechatRepositoryEloquent extends SomelineWechatRepositoryEloquentBase
{
    //
}
