<?php

namespace Someline\Http\Controllers\Console;

use Someline\Component\Wechat\Http\Controllers\Console\SomelineWechatControllerBase;

class SomelineWechatController extends SomelineWechatControllerBase
{
    //
}